<div class="sign-form" data-controller="sign-up">
  <h2 class="form-heading">Sign up</h2>
  <p>To become a <strong>coffee-loving</strong> workaholic!</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :first_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <div class="form-group">
              <%= f.input :is_cafe_owner,
                  as: :boolean,
                  input_html: {
                    class: "toggle",
                    data: {
                      sign_up_target: "isCafeOwner",
                      action: "change->sign-up#checkboxChange"
                    }
                  } %>
      </div>


    </div>

    <div class="form-actions" >
      <%= f.button :submit, "Sign up", class: "form-submit-btn",
          data: {
            sign_up_target: :button
          }
      %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
