<div class="form-container">
  <div class="introduction">
    <% if user_signed_in? %>
      <h3>Hi, <%= current_user.first_name.capitalize%>!</h3>
    <% else %>
      <h2>Welcome to WorkingLatte</h2>
    <% end %>
    <p>Where would you like to work?</p>
  </div>
  <div class="seach-container">
    <%= form_with url: cafes_path, authenticity_token: true, method: 'get' do |f|%>
      <div class="home-search-fields">
        <div class="location">
          <%= f.text_field :location,
              value: params[:location],
              class: "form-location",
              placeholder: "Enter a city"
           %>
        </div>
        <div class="date-picker">
          <%= f.text_field :date,
            data: {
              controller: "flatpickr",
              flatpickr_date_format: "M d, Y",
              flatpickr_default_date: Time.zone.now,
              flatpickr_min_date: Time.zone.now,
              disable_mobile: true
            } %>
        </div>
      </div>
      <div class="button-container">
        <%= button_tag(type: "submit", class: "home-search") do %>
          <p>Find cafés!</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="cafe-near">
    <%= form_tag cafes_path, method: :get do %>
      <%= hidden_field_tag :near_me, value: true %>
      <div class="button-container">
        <%= button_tag(type: "submit", class: "location-search") do %>
          <p><i class="fas fa-location-arrow"></i>  Find cafés near me!</p>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
<br>
<br>
<h3>How does WorkingLatte work?</h3>
<br>
 <div class="d-flex flex-row flex-nowrap overflow-auto">
      <div class="card card-block mx-2" style="min-width: 300px;">
        <%= image_tag "undraw_location.svg", alt: "location img" %>
        <p>Search for cafés in your location</p>
      </div>
      <div class="card card-block mx-2" style="min-width: 300px;">
        <%= image_tag "undraw_browse.svg", alt: "scroll img" %>
        <p>Browse the best cafés in town</p>
      </div>
      <div class="card card-block mx-2" style="min-width: 300px;">
        <%= image_tag "undraw_book.svg", alt: "book img" %>
        <p>Book a spot!</p>
      </div>
      <div class="card card-block mx-2" style="min-width: 300px;">
        <%= image_tag "undraw_working_remotely.svg", alt: "work img" %>
        <p>Work remote while enjoying your fave café</p>
      </div>
      <div class="card card-block mx-2" style="min-width: 300px;">
        <%= image_tag "undraw_calendar.svg", alt: "work img" %>
        <p>See your reservations & bookmarks in your dashboard</p>
      </div>

</div>
