<div class="card-cafe" style="background: url(<%= asset_url(cafe.photos.first.service_url) %>); background-size: cover; background-position: center;">
  <div class="card-cafe-top">
    <%# <p></p><i class="fas fa-shoe-prints"></i> 700 m</p> %>
    <% unless cafe.reviews.empty? %>
      <p><i class='fas fa-star'></i> <%= cafe.avg_rating.round(1) %></p>
    <% end %>
    <h3><%= cafe.name %></h3>
  </div>
  <div class="card-cafe-bottom">
    <p>
      <% cafe.tags.each do |tag| %>
        <% if tag.name == "vegan" %>
          <i class="fas fa-leaf card-tag"></i>
        <% end %>
        <% if tag.name == "pet friendly" %>
          <i class="fas fa-dog card-tag"></i>
        <% end %>
        <% if tag.name == "food" %>
          <i class="fas fa-utensils card-tag"></i>
        <% end %>
        <% if tag.name == "quiet" %>
          <i class="fas fa-volume-mute card-tag"></i>
        <% end %>
        <% if tag.name == "social" %>
          <i class="fas fa-user-friends card-tag"></i>
        <% end %>
      <% end %>
    </p>
    <p><i class="far fa-clock"></i> <%= cafe.opening_hour %>:00 - <%= cafe.closing_hour %>:00</p>
  </div>
</div>
