<% if params[:location].present? %>
  <h2 class="text-center index-heading">Cafes in <%= params[:location].capitalize %> </h2>
<% elsif params[:near_me].present? %>
  <h2 class="text-center index-heading">Cafés near me </h2>
<% else %>
  <h2>All cafes</h2>
<% end %>
<%# FILTER %>
<%# <div class="index-search-filter-container">
  <div class="index-search-bar"></div>
  <div class="index-filter-btn"><i class="fas fa-filter filter-tag"></i> Filter</div>
</div> %>
<div class="filters">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-filters" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-filter"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item">
        <%= form_tag cafes_path, method: 'get', class: 'filter-form' do %>
        <% if @location.present? %>
          <%= hidden_field_tag :location, @location %>
            <% if @date.present? %>
              <%= hidden_field_tag :date, @date %>
            <% end %>
        <% elsif @nearme.present? %>
          <% hidden_field_tag :near_me, @nearme %>
        <% end %>
          <% Tag.all.each do |tag| %>
            <div class="tag-dropdown">
              <%= check_box_tag tag.name, tag.name, false, class: "timeslot-selector" %>
              <%= label_tag tag.name %>
            </div>
          <% end %>
          <%= submit_tag 'Apply', class: "apply-filters" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="tabset" id="index-tabset">
  <!-- Tab 1 -->
  <% if @cafes.length == 0 %>
      <p class="not-found-msg">Sorry, we couldn't find any cafes.</p>
      <%= link_to "See all cafes", cafes_path, class: "cafes-link" %>
  <% else %>
    <input type="radio" name="tabset" id="tablist" aria-controls="cafes-list" checked>
    <label for="tablist">List View</label>
  <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tabmap" aria-controls="cafes-map">
    <label for="tabmap">Map View</label>
  <% end %>

  <div class="tab-panels">
    <section id="cafes-list" class="tab-panel">
      <% @cafes.each do |cafe| %>
        <%= link_to cafe_path(cafe), class: "card-link" do %>
          <%= render 'card', cafe: cafe %>
        <% end %>
      <% end %>
    </section>
    <section id="cafes-map" class="tab-panel">
      <%= render 'map', markers: @markers %>
    </section>
  </div>

</div>
