<% if params[:location].present? %>
  <h2 class="text-center index-heading">Cafes in <%= params[:location].capitalize %> </h2>
<% else %>
  <h2>All cafes</h2>
<% end %>
<%# FILTER %>
<%# <div class="index-search-filter-container">
  <div class="index-search-bar"></div>
  <div class="index-filter-btn"><i class="fas fa-filter filter-tag"></i> Filter</div>
</div> %>

<div class="tabset" id="index-tabset">
  <!-- Tab 1 -->
  <% if @cafes.length == 0 %>
      <p class="not-found-msg">Sorry, we couldn't find any cafes.</p>
      <%= link_to "See all cafes", cafes_path, class: "cafes-link" %>
  <% else %>
    <input type="radio" name="tabset" id="tablist" aria-controls="cafes-list" checked>
    <label for="tablist">List View</label>
  <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tabmap" aria-controls="cafes-map">
    <label for="tabmap">Map View</label>
  <% end %>

  <div class="tab-panels">
    <section id="cafes-list" class="tab-panel">
      <% @cafes.each do |cafe| %>
        <%= link_to cafe_path(cafe), class: "card-link" do %>
          <%= render 'card', cafe: cafe %>
        <% end %>
      <% end %>
    </section>
    <section id="cafes-map" class="tab-panel">
      <%= render 'map', markers: @markers %>
    </section>
  </div>

</div>
