<%# Lines below are the picture carrousel with the cafe images %>
<div class="header">
  <div class="show-images">
    <% if @cafe.photos.attached? %>
      <%= render 'caroussel', cafe: @cafe %>
        <%# <% @cafe.photos.each do |photo| %>
          <%#= image_tag photo  %>
        <%# end %>
    <% else  %>
      <p>NO PHOTOS ATTACHED</p>
    <% end %>

    <% if session[:location].present? %>
      <%= link_to cafes_path(location: session[:location], date: session[:date]), class: "back-button" do %>
        <i class="fas fa-arrow-circle-left back"></i>
      <% end %>
    <% else %>
      <%= link_to cafes_path(near_me: session[:near_me]), class: "back-button" do %>
        <i class="fas fa-arrow-circle-left back"></i>
      <% end %>
    <% end %>

    <% if current_user.favorited?(@cafe) == false %>
      <%= link_to favorite_cafe_path do %>
        <i class="fas fa-bookmark favorite"></i>
      <% end %>
    <% else %>
      <%= link_to unfavorite_cafe_path do %>
        <i class="fas fa-bookmark favorite favorited"></i>
      <% end %>
    <% end %>
  </div>

  <div class="info">
    <h2 class=cafe-name> <%= @cafe.name %>  </h2>
  </div>

  <div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="info" checked>
    <label for="tab1">Info</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="map">
    <label for="tab2">Map</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
    <label for="tab3">Menu</label>
    <!-- Tab 4 -->
    <input type="radio" name="tabset" id="tab4" aria-controls="review-tab">
    <label for="tab4">Reviews</label>


  <div class="tab-panels">
    <section id="info" class="tab-panel">
        <div class="tags-ul">
          <% @cafe.tags.each do |tag| %>
            <div class="d-flex">
                <i class="<%=tag.icon%>"></i> <p><%=tag.description%></p>
            </div>
          <% end %>
        <p><strong>Overview:</strong> <%= @cafe.description %></p>
        </div>
    </section>
      <section id="map" class="tab-panel">
        <p><strong>Address: </strong> <%= @cafe.address %> </p>
        <%= render 'map', markers: @markers %>
      </section>
    <section id="menu" class="tab-panel">
      <%# if @cafe.meu.attached? %>
          <%# @cafe.menu do |menu| %>
            <%#= image_tag menu  %>
          <%# end %>
        <%# else  %>
          <%= image_tag "cafe2.png", alt: "no menu submitted img", height: 450, width:300%>
        <%# end %>
    </section>
    <section id="reviews" class="tab-panel">
      <%= render 'reviews', reviews: @all_reviews, cafe: @cafe, user_recent_reservation: @user_recent_reservation, new_review: @review %>
    </section>

    <% if user_signed_in? %>
      <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn book-btn">Book!</button>
    <% else %>
      <%= link_to 'Book!', new_user_session_path, class: "btn book-btn" %>
    <% end %>

    <div class="modal fade modal-position" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-modal-dialog" role="document">
      <div class="modal-content my-modal-content">
        <div class="modal-header">
          <h5 class="modal-title my-modal-title" id="exampleModalLabel">Book your spot at <%= @cafe.name %> </h5>
            <button type="button" class="close my-close-btn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div id="reservation-form-wrapper">
            <%= render 'reservation_form', chair: @cafe.chairs.sort { |chair| chair.time_slots.count }.first, reservation: @reservation %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
