<%# Lines below are the picture carrousel with the cafe images %>
<div class="header">
<div class="show-images">
      <% if @cafe.photos.attached? %>
          <% @cafe.photos.each do |photo| %>
            <%= image_tag photo  %>
          <% end %>
        <% else  %>
          <p>NO PHOTOS ATTACHED</p>
        <% end %>
    </div>


<div class="info">
  <h2> <%= @cafe.name %>  </h2>
</div>


<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Info</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Map</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3">Menu</label>
  <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4" aria-controls="review-tab">
  <label for="tab4">Reviews</label>


  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <h2>Cafe info</h2>
      <p><strong>Café characteristics:</strong> An elegant, malty German amber lager with a clean, rich, toasty and bready malt flavor, restrained bitterness, and a dry finish that encourages another drink. The overall malt impression is soft, elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
      <p><strong>Overview:</strong> <%= @cafe.description %></p>
    </section>
      <section id="rauchbier" class="tab-panel">
        <h2>Where are we located?</h2>
        <p><strong>Overall Impression:</strong>  An elegant, malty German amber lager with a balanced, complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are characteristic.</p>
        <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
      </section>
    <section id="dunkles" class="tab-panel">
      <h2>See what's on our menu!</h2>
      <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
      <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
    </section>
    <section id="review-tab" class="tab-panel">
      <h2>See what our (working)Latte-lovers think!</h2>
      <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
      <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means “Ram” in German, and is often used in logos and advertisements.</p>
    </section>

    <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn book-btn">Book!</button>

    <div class="modal fade modal-position" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book your spot at <%= @cafe.name %> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% @cafe.chairs.each do |chair| %>
            <%= render 'reservation_form', chair: chair, reservation: @reservation %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary ">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
